[user]
	name = needle
	email = needlewang2011@gmail.com
[color]
    diff   = always
    branch = auto
    status = auto
    grep   = always
    ui = false
[alias]
    a                 = add
    b                 = branch
    c                 = commit
    d                 = diff
    l                 = log
    m                 = merge
    s                 = status -sb
    t                 = tag
    br                = branch
    ci                = commit -m
    co                = checkout
    la                = log --graph --pretty         = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date = relative --all
    lc                = log --graph --pretty         = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date = relative
    lg                = log --color --graph --pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pl                = pull
    pu                = push
    rb                = rebase
    st                = status
    des               = describe --tags
    last              = log -1
    unstage           = reset HEAD
    untrack           = rm -r --cached
    merge-branch-file = checkout --merge
[push]
    default = simple
[merge]
    tool = vimdiff
[core]
	quotepath = false
